/**
  * Name: ConsultantPlus
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/

@import url("font-awesome.css");
@import url("font-ionicons.css");
@import url("simple-line-icons.css");
@import url("font-Blacksword.css");
@import url("jquery.mCustomScrollbar.css");
@import url("font-antro.css");
@import url("font-elegant.css");
@import url("owl.carousel.css");
@import url("shortcodes.css");
@import url("jquery.fancybox.css");
@import url("magnific-popup.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Playfair+Display:400,400i,700,700i,900,900i");

/**
  *	Reset
  *	Repeatable Patterns
  *	Top 
  *	Social-links
  *	Flat-infomation
  * Header
  * Nav
  * Mobile navigation
  * Page title
  * Breadcrumbs
  * Blog
  * Blog Single
  * Pagination
  * Sidebar
  * GoTop Button
  * Main Content
  * Footer
  * Images hover
  * Parallax
  * Home Gallery
  * Preload
  * Switcher
  * Boxed
  * Site-off-canvas
  * Slides
*/

/* Reset
-------------------------------------------------------------- */
	html {
		overflow-y: scroll;
		-webkit-text-size-adjust: 100%;
		   -ms-text-size-adjust: 100%;
	}

	body {
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%;
		   -ms-text-size-adjust: 100%;
	}

	a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
	dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video  { 
		font-family: inherit; 
		font-size: 100%; 
		font-weight: inherit; 
		font-style: inherit; 
		vertical-align: baseline; 
		margin: 0; 
		padding: 0; 
		border: 0; 
		outline: 0;
		background: transparent;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
		display: block;
	}
	                          
	ol, ul {
		list-style: none;
	}

	blockquote, q { 
		-webkit-hyphens: none;
		  -moz-hyphens: none;
		   -ms-hyphens: none;
		       hyphens: none;
		        quotes: none;
	}

	figure {
		margin: 0;
	}

	:focus {
		outline: 0;
	}

	table { 
		border-collapse: collapse; 
		border-spacing: 0;
	}

	img {
		border: 0;
		-ms-interpolation-mode: bicubic;
		vertical-align: middle;
	}

	legend {
		white-space: normal;
	}

	button,
	input,
	select,
	textarea {
		font-size: 100%;
		margin: 0;
		max-width: 100%;
		vertical-align: baseline;
		-webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		       box-sizing: border-box;
	}

	button,
	input {
		line-height: normal;
	}

	input,
	textarea {
		background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		line-height: 1;
		cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
		-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
		border: none;
	}

	input[type="checkbox"],
	input[type="radio"] {
		padding: 0; /* Addresses excess padding in IE8/9 */
	}

	input[type="search"] {
		-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	}

	input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
		-webkit-appearance: none;
	}

	button::-moz-focus-inner,
	input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
		border: 0;
		padding: 0;
	}

	*,
	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}	

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
	font: 14px/27px "Poppins", sans-serif;
	font-weight: 400;
	background-color: #fff;		
	color: #777777;
}

a {		
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
	color: #03a9f5;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

ul, ol {
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;		
}

.img-right {
	margin: 0 0 0 50px !important;
	float: right;
}

b, strong {
	font-weight: 900;
}

button {
	-webkit-border-radius: 3px;
            border-radius: 3px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {		
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding: 15px 34px 14px 21px;
    background-color: #03a9f5;
    -webkit-transition: all 0.3s ease 0s;
       -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
         -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {	
	background-color: #fff;
    border: 1px solid #dfdfdf;
    height: 50px;
    padding-left: 15px;
    font-size: 13px;
    outline: none;
    margin-bottom: 20px;
	border-radius: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

textarea {
	width: 100%;
	height: 180px;
	padding: 15px 24px;
}

input[type="checkbox"] {
	display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {		
	color: #6a6a6a;
	opacity: 1;
}

input:-ms-input-placeholder {
	color: #6a6a6a;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #6a6a6a;
	opacity: 1;
}

/* bootstrap resetting elements */
.btn {
	background-image: none;
}

textarea, 
input[type="text"],
input[type="submit"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
	-webkit-appearance: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
	color: #999;
}

h1, h2, h3, h4, h5, h6 { font-family: "Poppins", sans-serif; font-weight: 600; margin-bottom: 10px; color: #222222 }
h1 { font-size: 60px; line-height: 60px; }
h2 { font-size: 45px; line-height: 45px; }
h3 { font-size: 40px; line-height: 40px; }
h4 { font-size: 25px; line-height: 25px; }
h5 { font-size: 20px; line-height: 20px; }
h6 { font-size: 18px; line-height: 18px; }


.widget.widget_menu_tab ul li {
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

/* Top 
---------------------------------------------------------------*/
.flat-top {
	background-color: #f2f2f5;	
	padding: 12px 0px 11px;
}

.flat-top p {
	font-size: 12px;
	color: #222;
	font-weight: 500;
}

.flat-top p.info-text {
	letter-spacing: -0.1px;
	
}

.flat-top p.info-link {
    text-align: right;
}

.flat-top p a {
	padding-right: 19px;
}

/* Social-links
-------------------------------------------------------------- */
.social-links {
	padding: 0;
	margin-top: 9px;
	text-align: right;
}

.social-links li {
	display: inline-block;
	margin-left: 1px;
}

.social-links li:first-child {
	margin-left: 0;
}

.social-links a {
	display: inline-block;
	line-height: 40px;
	width: 40px;
	height: 40px;
	font-size: 14px;
	color: #888888;
	border-radius: 50%;
	text-align: center;
	background-color: #eee;
}

.social-links a:hover,
.social-links.style2 a:hover,
.social-links.style2 a.facebook:hover,
.social-links.style2 a.google:hover,
.social-links.style2 a.rss:hover,
.social-links.style3 a:hover,
.social-links.style3 a.twitter:hover,
.social-links.style3 a.google:hover,
.social-links.style3 a.rss:hover {
	color: #fff;
	background-color: #03a9f5;
}

/* Style2 */
.social-links.style2 a {
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #3FCDFD;
	border-radius: 0;
	background-color: #fff;
	margin-left: 5px;
}

.social-links.style2 a.facebook {
	color: #3b5998;
}

.social-links.style2 a.google {
	color: #de5347;
	margin-left: 6px;
}

.social-links.style2 a.rss {
	color: #efb34a;
}

/* style3 */
.social-links.style3 {
	margin-top: -1px;
	margin-right: 1px;
}

.social-links.style3 a {
	color: #FFF;
	background-color: #3B5998;
	width: 30px;
	height: 30px;
	margin-left: 0.5px;
	line-height: 30px;
	font-size: 12px;
}

.social-links.style3 a.twitter {
	background-color: #3fcdfd;
}

.social-links.style3 a.google {
	background-color: #de5347;
}

.social-links.style3 a.rss {
	background-color: #efb34a;
}

/*Style4 */
.social-links.style4 {
    position: relative;
    float: left;
    width: 32%;
    text-align: right;
    padding-right: 15px;
    margin-right: 5px;
}

.social-links.style4::after,
.flat-top .flat-information li::after {
    position: absolute;
    right: 0px;
    top: 6px;
    content: "";
    width: 1px;
    height: 14px;
    background-color: #617588;
}

.social-links.style4 {
	margin-top: 0;
}

.social-links.style4 li {
	padding: 0 6px;
}

.social-links.style4 li:nth-child(3) {
	padding-right: 5px;
}

.social-links.style4 a {
	border-radius: 0;
	display: initial;
	background-color: transparent;
	color: #B6B7BA;
	line-height: 24px;
}

.social-links.style4 a:hover {
	background-color: transparent;
	color: #03a9f5;
}

/* Style5 */
.social-links.style5 {
    text-align: center;
    margin: 0px 0px 22px;
}

.social-links.style5 li {
	margin-left: -9px;
}

.social-links.style5 li a {
	background-color: transparent;
	color: #FFF;
	font-size: 18px;
}

.social-links.style5 li a:hover {
	color: #03a9f5;
}

/**/
.flat-top.style2 {
	background-color: #313844;
	padding: 12px 0px 11px;
}

ul.box-text.text-right li {
    display: inline-block;
    position: relative;
    text-align: right;
}

.flat-top ul li.question {
    margin-right: 21px;
    padding-left: 18px;
}

.flat-top ul li.question::before {
	position: absolute;
	left: 0;
    top: 0;
    content: "\f059";
    font-family: 'FontAwesome';
    color: #b6b7ba;
}

.flat-top ul li.question p {
	color: #b6b7ba;
	font-size: 12px;
}

.flat-top .box-text li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 28px 15px 26px;
    background-color: #03a9f5;
    color: #FFF;
    letter-spacing: 0.3px;
}

.flat-top .box-text li a:hover {
	background-color: #3f3e43;
}

/* Flat-infomation
-------------------------------------------------------------- */
.flat-top .flat-information li {
	position: relative;
	display: inline-block;
    padding: 0px 16px;
    margin-right: 11px;
    letter-spacing: 0.3px;
}

.flat-top .flat-information li::before {
    position: absolute;
    left: 0;
    top: 1px;
    font-family: 'FontAwesome';
    content: "\f095";
    color: #b6b7ba;
    font-size: 12px;
}

.flat-top .flat-information li.email {
	padding-left: 18px;
}

.flat-top .flat-information li:last-child {
	padding-right: 0;
	margin-right: 0;
}

.flat-top .flat-information li:last-child:after {
	content: none;
}

.flat-top .flat-information li.email::before {
    content: "\f0e0";
}

.flat-top .flat-information li a {
	color: #b6b7ba;
	font-size: 12px;
}

.flat-top .flat-information li a:hover {
	color: #03a9f5;
}

/* Header
-------------------------------------------------------------- */
.header {	
    background-color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

.header .logo,
.wrapper .logo {		
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
	margin: 30px 0 0 1px;	
}

.header.style3 .logo {
	margin-top: 25px;
}


.widget-header .wrap-widget-header {
	overflow: hidden;
	margin: 31px 0px 25px;
}

.widget-header .wrap-widget-header .widget.widget_text {
    width: 32%;
    float: right;
}

.widget-header .wrap-widget-header .widget.widget_text:nth-child(1) {
	width: 22%;
}

.widget-header .wrap-widget-header .widget.widget_text:nth-child(3) {
	width: 34.5%;
}

.widget-header .wrap-widget-header .widget.widget_text .social-links {
	margin-top: 9px;
}

.widget-header .wrap-widget-header .widget.widget_text .icon {
	float: left;
	margin: 3px 18px 0px 0px;
	font-size: 22px;
	color: #222;
}

.widget-header .wrap-widget-header .widget.widget_text .text {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #222;
}

.widget-header .wrap-widget-header .widget.widget_text .text span {
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    display: block;
    margin-top: 4px;
}

/* style2 */
.header.style2 .logo {
	margin: 25px 0px 34px 3px;
}

.group-header {
    display: flow-root;
}

.header.style2 .flat-wrap-header {
	float: left;
}

.header.style2 #mainnav > ul > li > a,
.header.style3 #mainnav > ul > li > a {
	color: #222222;
	line-height: 110px;
	padding: 0px 17px;
}

.header.style2 #mainnav > ul > li:first-child > a {
	padding: 0px 17px 0px 17px;
}

.header.style2 #mainnav > ul > li.active > a,
.header.style2 #mainnav > ul > li > a:hover,
.header.style3 #mainnav > ul > li.active > a,
.header.style3 #mainnav > ul > li > a:hover {
	color: #03a9f5;
}

.widget-header .wrap-widget-header.style2 {
	margin: 32px 7px 0px 0px;
    float: right;
    overflow: inherit;
}

.widget-header .wrap-widget-header.style2 .widget.widget_text:nth-child(1) {
	width: 100%;
}

.widget-header .wrap-widget-header.style2 .widget.widget_text .icon {
	margin: 4px 17px 0px 0px;
}

.widget-header .wrap-widget-header.style2 .widget.widget_text .text {
	font-size: 12px;
	color: #999;
	font-weight: 400;
}

.widget-header .wrap-widget-header.style2 .widget.widget_text .text a {
	font-size: 20px;
	font-weight: 500;
	color: #222222;
	line-height: 28px;
}

.widget-header .wrap-widget-header.style2 .widget.widget_text .text a:hover {
	color: #03a9f5;
}

/* Style3 */
.header.style3 .flat-wrap-header {
	float: right;
}

.header.style3 #mainnav > ul > li:last-child > a {
 	padding: 0px 0px 0px 21px;
 }

.header.style3 #mainnav > ul > li > a {
 	padding: 0px 21.5px;
 }

/* Header Fix */
.header-v1.downscrolled {
	position: fixed!important;
	top: 0;
	width: 100%;
	z-index: 9999;
    opacity: 0;
    top: -121px;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.header-v1.upscrolled {
    opacity: 1;
    top: 0;
    background: rgba(0,0,0,0.6)!important;
}

.header-v1.style2.upscrolled,
.header-v1.style3.upscrolled {
	background: rgba(255, 255, 255, 0.6)!important;
}

.header-v1.style2.upscrolled .logo,
.header-v1.style3.upscrolled .logo {
    margin: 28px 0px 10px 1px;
}

.header-v1.style2.upscrolled #mainnav > ul > li > a,
.header.style3.upscrolled #mainnav > ul > li > a {
	line-height: 80px;
}

.widget-header.header-v1.style2.upscrolled .wrap-widget-header.style2 {
	margin-top: 13px;
}

.upscrolled #mainnav > ul > li:hover > a, .upscrolled #mainnav > ul > li.active > a {
	color: #073B4C;
}

/* Menu menu-extra */
.menu.menu-extra li a {
	font-size: 15px;
	color: #fff;
	padding: 0px;
	line-height: 60px;
}

/* Navigation */
.nav.header-style1 {
	background-color: #073B4C;
	position: relative;
	z-index: 999;
}

.flat-wrap-header {
	position: relative;
}

.nav-wrap {
	position: relative;
	display: flow-root;
}

.nav-wrap .mainnav {
	float: left;
}

.nav.header-style1 .menu.menu-extra {
	float: right;
}

.nav.header-style1 .menu.menu-extra {
	padding-left: 0px;
}

/* Nav
----------------------------------------------------------------------*/
.nav.header-style1 .top-search {
    position: absolute;
    right: 0px;
    top: 110%;
    width: 320px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav.header-style1 .top-search.show {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    top: 100%;
}

.show-search.active i:before {
    content: "\f00d";
}

.widget.widget_search.top-search .search-form input[type="search"] {
    border: none;
    background: #d8e7ef;
}

#mainnav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

#mainnav ul li {
   position: relative;
}

#mainnav > ul > li {
   display: inline-block;  
    
}

#mainnav > ul > li > a {
    font-size: 15px;    
    font-weight: 600;
    color: #fff;
    line-height: 60px;
    padding:0 15px 0 14.5px;   
}

#mainnav > ul > li:first-child > a {
	padding: 0 15px 0 0px;	
}

/* submenu */
#mainnav ul.submenu {
	text-align: left;
   	position: absolute;
   	left: 0;
   	top: 110%;
   	width: 250px;
   	background-color: #222222;
   	padding: 0px;
   	z-index: 9999;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
    opacity: 0;  
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

/* Right sub-menu */
#mainnav ul.right-sub-menu {
    left: auto;
    right: 0;
}

#mainnav ul li:hover > ul.submenu {
	top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
}

#mainnav ul li ul li {
   margin-left: 0;
}

#mainnav ul.submenu li ul {
   position: absolute;
   left: 250px;
   top: 0 !important;
}

#mainnav ul.submenu > li {
   border-top: 1px solid #333333;  
}

#mainnav ul.submenu > li.sub-parent:after {
	content: "\f105";
   	font-family: "FontAwesome";
   	font-size: 14px;
   	position: absolute;
   	right: 25px;
   	top: 11px;
   	color: #999999;
   -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;

}

#mainnav ul.submenu li:first-child {
   border-top: none;
}

#mainnav ul.submenu > li > a {
    display: block;    
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 0 0 0 26px;
    line-height: 50px;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

#mainnav ul.submenu > li > a:hover {
	color: #03a9f5;
}

#mainnav ul.submenu > li.sub-parent:hover::after {
	right: 18px;
}

#mainnav > ul > li.active > a, #mainnav > ul > li:hover > a {
   color: #FFD166 ;
   position: relative;
}

#mainnav > ul > li > a {
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

/* Hover Menu */
#mainnav > ul > li > a {
	position: relative;
}


/* Mobile navigation
---------------------------------------- */
#mainnav-mobi {
   	display: block;
   	margin: 0 auto;
   	width: 100%;
   	position: absolute;
   	background-color: #222222;
   	z-index: 1000;
}

#mainnav-mobi ul {
   	display: block;
   	list-style: none;
   	margin: 0;
   	padding: 0;
}

#mainnav-mobi ul li {
   	margin:0;
   	position: relative;
   	text-align: left;
   	border-top: 1px solid #333333;
   	cursor: pointer
}

#mainnav-mobi ul > li > a {
   	text-decoration: none;
   	height: 50px;
   	line-height: 50px;
   	padding: 0 15px;
   	color: #fff;
}

#mainnav-mobi ul.sub-menu {
   	top: 100%;
   	left: 0;
   	z-index: 2000;
   	position: relative;
   	background-color: #333333;
}

#mainnav-mobi > ul > li > ul > li,
#mainnav-mobi > ul > li > ul > li > ul > li {
   	position: relative;
   	border-top: 1px solid #333333;
   	padding-left: 15px;
}

#mainnav-mobi > ul > li > ul > li > ul > li a {
   	padding-left: 45px !important
}

#mainnav-mobi ul.sub-menu > li > a {
   	display: block;
   	text-decoration: none;
   	padding: 0 60px;
   	border-top-color: rgba(255,255,255,.1);
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
	     -o-transition: all 0.2s ease-out;
	        transition: all 0.2s ease-out;
}

#mainnav-mobi > ul > li > ul > li:first-child a {
	border-top: none;
}

#mainnav-mobi ul.sub-menu > li > a:hover,
#mainnav-mobi > ul > li > ul > li.active > a {
	color: #fff;
}

/* Button menu mobile */
.btn-menu {
	display: none;
	cursor: pointer;
	margin: 20px 0;
	float: right;
    margin-right: 15px;
}

.btn-menu, .menu-extra .off-canvas-toggle {
	position: relative;
	cursor: pointer;
	width: 26px;
	height: 16px;
	background: transparent;
	 -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.menu-extra .off-canvas-toggle {
	margin-top: 15px;
}

.btn-menu:before,
.btn-menu:after, 
.btn-menu span,
.menu-extra .off-canvas-toggle a::before,
.menu-extra .off-canvas-toggle a::after,
.menu-extra .off-canvas-toggle a span {
	background-color: #fff;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after,
.menu-extra .off-canvas-toggle a::before,
.menu-extra .off-canvas-toggle a::after {
	content: '';
	position: absolute;
	top: 0;
	height: 2px;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}

.btn-menu span,
.menu-extra .off-canvas-toggle a span {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	top: 50%;
	overflow: hidden;
	text-indent: 200%;
}

.btn-menu:before,
.menu-extra .off-canvas-toggle a::before {
	-webkit-transform: translate3d(0, -7px, 0);
	        transform: translate3d(0, -7px, 0);
}

.btn-menu:after,
.menu-extra .off-canvas-toggle a::after {
	-webkit-transform: translate3d(0, 7px, 0);
            transform: translate3d(0, 7px, 0);
}

.btn-menu.active span,
.off-canvas-active .menu-extra .off-canvas-toggle a span {
	opacity: 0;
}

.btn-menu.active:before,
.off-canvas-active .menu-extra .off-canvas-toggle a::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu.active:after,
.off-canvas-active .menu-extra .off-canvas-toggle a::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
}

.btn-submenu {
   position: absolute;
   right: 20px;
   top: 0;
   font: 20px/50px 'FontAwesome';
   text-align: center;
   cursor: pointer;
   width: 70px;
   height: 44px;
}

#mainnav-mobi ul li ul li .btn-submenu {
	right: 30px;
}

.btn-submenu:before {
   content: "\f107";
   color: #fff;
}

.btn-submenu.active:before {
   content: "\f106"
}

.btn-menu {
   display: none 
}

.header.style2 .btn-menu:before,.header.style2 .btn-menu:after,.header.style2 .btn-menu span,
.header.style3 .btn-menu:before,.header.style3 .btn-menu:after,.header.style3 .btn-menu span {
	background-color: #222222;
}

/* Page title
-------------------------------------------------------------- */
.page-title {
	position: relative;
	padding: 28px 0 22px;
	background: #fff;
}

.page-title-heading h1 {	
    text-align: left;
    color: #222;
    letter-spacing: -0.5px;
    font-size: 35px;
    margin-bottom: 0;
    line-height: 58px;
}

.page-title.style2 {
	padding: 33px 0 22px;
}

/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs ul {
	padding-top: 0;
}

.breadcrumbs ul li {
	display: inline-block;	
	position: relative;
	padding-right: 12px;
	margin-right: 5px;
	color: #999;
	font-size: 13px;
}

.breadcrumbs ul li:nth-child(2) {
	margin-right: 4px;
}

.breadcrumbs ul li:last-child {
	margin-right: 0;
	padding-right: 0;
}

.breadcrumbs ul li a {	
    color: #999;   
}

.breadcrumbs ul li a:hover {
	color: #03a9f5;
}

.breadcrumbs ul li:before {
	position: absolute;
	right: 0px;
    top: 0;
	font-family: "FontAwesome";
	content: "\f105";
	color: #999;
}

.breadcrumbs ul li:last-child::before {
	width: 0;
	height: 0;
	background-color: transparent;
	content: "";
}

/* Blog
-------------------------------------------------------------- */
article.post p {
	margin-bottom: 26px;
	line-height: 25px;
	
}

article.post {
	margin-bottom: 70px;
}

article.post .featured-post {
	position: relative;
	margin-bottom: 16px;
}

article.post .content-post .title-post {
	font-size: 25px; 
    margin-bottom: 11px;
    text-transform: uppercase;
    color: #222;
}

article.post .content-post .title-post a {
	color: #222;
}

article.post .content-post .title-post a:hover {
	color: #03a9f5;
}

article.post ul.meta-post li {
	position: relative;
	display: inline-block;
	padding-right: 15px;
	margin-right: 2px;
}

article.post ul.meta-post li:nth-child(2) {
	padding-right: 14px;
}

article.post ul.meta-post li:last-child {
	margin-right: 0;
	padding-right: 0;
}

article.post ul.meta-post li:after {
	position: absolute;
	right: 0;
	top: 0;
	content: "...";
}

article.post ul.meta-post li:last-child:after {
	content: none;
}

article.post ul.meta-post li a {
	font-size: 12px;
    color: #999;  
    text-transform: uppercase;  
}

article.post ul.meta-post li a:hover {
	color: #03a9f5;
}

/* Blog Single
-------------------------------------------------------------- */
.blog-single article.post {
    margin-bottom: 24px;
}

.footer-post .tags-links {
    float: left;
}

.footer-post strong {
    color: #222;
    padding-right: 3px;
}

.footer-post .tags-links a {
    color: #777;
}

.footer-post .tags-links a:hover {
	color: #03A9F5;
}

.footer-post .social-share-article {
    float: right;
}

.blog-single article.post p {
	margin-bottom: 20px;
}

.blog-single article.post p:last-of-type {
	margin-bottom: 0;
}

.blog-single article.post .entry-post {
	margin-bottom: 63px;
}

/* Comment List */
.comment-list article {
	margin-bottom: 5px;
}

.comment-list ol.children {
	margin-left: 30px;
}

.comments-area .comments-title {
	border-top: 1px solid #eeeeee;
	padding-top: 46px;
	margin-left: -2px;
    text-transform: uppercase;
    font-size: 25px;
    color: #222;
    margin-bottom: 0;
}

.comments-area ol.comment-list {
	padding: 0;
	margin-bottom: 58px;
	list-style: none;
}

.comments-area ol.comment-list article {
	position: relative;
	border-bottom: 1px solid #e5e5e5;
    padding: 27px 0px 18px;
}

.comments-area ol.comment-list article:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
	padding-top: 26px;
	padding-bottom: 0;
}

.comments-area ol.comment-list article .comment-author {
	float: left;
	margin-right: 20px;
}

.comments-area ol.comment-list article .comment_content .comment_meta {
	margin-bottom: 20px;
}

.comments-area ol.comment-list article .comment-text {
	overflow: hidden;
}

.comments-area ol.comment-list article .comment-text h5 {	
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 4px;
}

.comments-area ol.comment-list article .comment-text h5 a {
	color: #222;
}

.comments-area ol.comment-list article .comment-text h5 a:hover {
	color: #03a9f5;
}

.comments-area ol.comment-list article .comment_text {
	padding-bottom: 37px;
	overflow: hidden;
}

.comments-area ol.comment-list article .comment-metadata {
	margin-bottom: 8px;
}

.comments-area ol.comment-list article .comment-metadata span {
	font-size: 12px;
}

.comments-area ol.comment-list article .comment-metadata .date {	
    color: #999; 
    margin-right: 7px;   
}

.comments-area ol.comment-list article .comment-metadata .comment-reply a {
	color: #03a9f5;
	position: relative;
	padding-left: 13px;
}

.comments-area ol.comment-list article .comment-metadata .comment-reply a:hover {
	color: #999;
}

.comments-area ol.comment-list article .comment-metadata .comment-reply a::before {
	position: absolute;
	left: 0;
	top: 2px;
	width: 2px;
	height: 13px;
	content: "";
	background-color: #e7e7e7;
}

.comments-area ol.comment-list article .comment-content p {
    line-height: 25px;
    margin-bottom: 8px;
}

/* Comment form */
.comment-respond {
	padding: 56px 50px 60px 50px;
	background-color: #f5f5f5;
}

.comment-respond .comment-reply-title {
    font-size: 25px;
    line-height: 25px;
    color: #222;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.comment-form .comment-notes {
    margin-bottom: 23px;
}

.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
    display: inline-block;
    width: 32.5%;
    float: left;
    margin-right: 1.25%;
}

.comment-form .comment-form-url {
    margin-right: 0;
}

.comment-form p.comment-label label {
	color: #222;
	margin-bottom: 4px;
}

.comment-respond p.comment-label input {
    width: 100%;
    height: 43px;
}

.comment-respond .comment-submit {	
    font-size: 12px;
    font-weight: 600;
    padding: 16px 27px 15px 26px;
    cursor: pointer;
    text-transform: uppercase;
}

.comment-respond .comment-submit::after {
	content: none;
}

.comment-respond .comment-submit:hover {
	background-color: #333;
	color: #fff;
}

/* Pagination
-------------------------------------------------------------- */
.blog-pagination {
	padding-top: 30px;
	border-top: 1px solid #e5e5e5;
}

.blog-pagination .flat-pagination li {
	display: inline-block;
	margin-right: 3px;
}

.blog-pagination .flat-pagination li a {
	position: relative;
	color: #222;
    padding: 6px 15px 5px 15px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
}

.blog-pagination .flat-pagination li a:hover,
.blog-pagination .flat-pagination li.active a {
	background-color: #03a9f5;
	color: #fff;
	border: 1px solid #03a9f5;
}

.blog-pagination .flat-pagination li.active a {
	padding: 6px 17px 5px 17px;
}

.blog-pagination .flat-pagination li.next a {
	padding: 6px 28px 5px 14px;
}

.blog-pagination .flat-pagination li.next a::after {
	position: absolute;
	right: 16px;
	top: 6px;
	content: "\f101";
	font-family: "FontAwesome";
}

/* Sidebar
-------------------------------------------------------------- */
.sidebar .widget {
	margin-bottom: 56px;
	position: relative;
}

.sidebar .widget:last-of-type {
	margin-bottom: 0;
}

.widget ul  {
	padding: 0;
	margin: 0;
}

.widget ul li {
	list-style: none;
}

.widget .widget-title {
	position: relative;
    text-transform: uppercase;
    font-size: 18px;
    color: #222222;
    margin-bottom: 10px;
}

/* Widget search */
.widget.widget_search .widget-title {
	margin-bottom: 37px;
}

.widget.widget_search .search-form {
    width: 100%;
	height: 50px;
	position: relative;
	margin: 0;
}

.widget.widget_search .search-form input[type="search"] {
	border-color: #e5e5e5;
	width: 100%;
	padding-top: 2px;
}

.widget.widget_search .search-form input[type="search"]:focus {
	border-color: #03a9f5;
}

.widget.widget_search .search-form .search-submit {
    position: absolute;
    right: 11px;
    top: 13px;
    font-family: "FontAwesome";
    color: #999;
    background: transparent;
    padding: 3px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
    	-ms-transition: all 0.3s ease-in-out;
    	 -o-transition: all 0.3s ease-in-out;
    		transition: all 0.3s ease-in-out;   
}

.widget.widget_search .search-form .search-submit:hover {
	color: #03a9f5;
}

/* Widget categories */
.sidebar .widget ul li {	
	padding: 12px 0px 10px 9px;
	position: relative;	
	border-bottom: 1px solid #e5e5e5;
	padding-left: 15px;
}

.sidebar .widget ul li::before {
	position: absolute;
	left: 0;
	top: 12px;
	content: "\f0da";
	font-family:"FontAwesome" ;
}

.sidebar .widget ul li a {	
    color: #777777;	
}

.sidebar .widget ul li a:hover {
	color: #03a9f5;
}

/*  Widget_Contact */
.widget.widget_contact2, .widget.widget_download {
	margin-bottom: 40px;
}

.widget.widget_contact2 {
    border: 3px solid #eeeeee;
    padding: 41px 30px 42px 27px;
}

.widget .widget-title.style2 {
    text-transform: none;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 14px;
}

.widget.widget_contact2 p {
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 26px;
}

.widget.widget_contact2 .flat-button {
	font-weight: 700;
    padding: 14px 27px 12px 26px;
}

.widget.widget_contact2 .flat-button::after {
	content: none;
}

/* Widget Download */
.widget.widget_download a {
    display: inline-block;
    width: 100%;
    background-color: #333335;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    padding: 23px 31px 20px; 
}

.widget.widget_download a i {
	font-size: 22px;
	margin-right: 16px;
}

.widget.widget_download a:last-of-type {
	margin-bottom: 0;
}

.widget.widget_download a:hover {
	background-color: #03a9f5;
}

.widget .testimonials.style3 .whisper {
	position: relative;
	font-size: 13px;
	padding: 32px 20px 32px 27px;
    border: 3px solid #eeeeee;
    margin-bottom: 35px;
}

.widget .testimonials.style3 .whisper::before, .widget .testimonials.style3 .whisper::after {
	position: absolute;
	left: 30px;
	content: "";
    top: 100%;
    width: 0;
    height: 0;
    border-right: 23px solid transparent;
    border-top: 23px solid #eeeeee;
}

.widget .testimonials.style3 .whisper::after {
	border-right: 16px solid transparent;
    border-top: 16px solid #fff;
    left: 33px;
}

.widget .testimonials.style3 .testimonial-author-thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.widget .testimonials.style3 .name {
	font-size: 14px;
	font-weight: 600;
	padding-top: 3px;
	margin-bottom: 0;
}

.widget .testimonials.style3 .position {
	line-height: 21px;
	color: #999999;
}

/* widget Menu Tab */
.widget.widget_menu_tab {
	margin-bottom: 41px;
}

.widget.widget_menu_tab ul li {
	border-bottom: none;
	background-color: #f1f1f1;
	margin-bottom: 3px;
	cursor: pointer;
	padding: 14px 0px 13px 26px;
}
.widget.widget_menu_tab ul li:last-child {
	margin-bottom: 0;
}

.widget.widget_menu_tab ul li::before {
	content: none;
}

.widget.widget_menu_tab ul li:hover, .widget.widget_menu_tab ul li.active  {
	background-color: #3f3e43;
}

.widget.widget_menu_tab ul li:hover a, .widget.widget_menu_tab ul li.active a {
	color: #fff;
}

.widget.widget_menu_tab ul li a {
	color: #2d2d2d;
	font-weight: 700;
	display: block;
}

/* Page Services Single
-------------------------------------------------------------- */
.wrap-services-single .featured-services {
    margin-bottom: 53px;
}

.wrap-services-single p, .wrap-services-single li {
	font-size: 16px;
	line-height: 27px;
}

.wrap-services-single .flat-text {
    margin-bottom: 50px;
}

.wrap-services-single h3.title-text {
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 20px;
}

.wrap-services-single .text1 p:last-of-type, .wrap-services-single .flat-text ul.step li:last-child {
	margin-bottom: 0;
}

.wrap-services-single .flat-text p {
	margin-bottom: 20px;
}

.wrap-services-single .flat-text.text2 {
    margin-bottom: 59px;
}

.wrap-services-single .text2 h3.title-text, .wrap-services-single .text4 h3.title-text {
    margin-bottom: 25px;
}

.wrap-services-single .flat-text ul.step li {
    margin-bottom: 30px;
}

.wrap-services-single .flat-text ul.step li span {
	font-weight: 600;	
	color: #222222;
}

.wrap-services-single .flat-text.text3 {
	margin-bottom: 54px;
}

.wrap-services-single .text3 h3.title-text {
	margin-bottom: 27px;
}

.wrap-services-single .wrap-services-sidebar .imgbox {
	margin-bottom: 0;
}

.wrap-services-single .imgbox.style2.left .box-header {
    margin-bottom: 20px;
}

.wrap-services-single .imgbox.style2.left .box-title {
	font-size: 16px;
	line-height: 23px;
}

/* Page Company
-------------------------------------------------------------- */
.page-company .featured {
    margin-bottom: 47px;
}

.page-company h4 {
    font-size: 23px;
}

.page-company p {
	font-weight: 400;
	line-height: 25px;
}

.page-company .content-company {
	margin-bottom: 61px;
}

.page-company .content-company h4 {
    margin-bottom: 16px;
}

.page-company .flat-history {
    margin-bottom: 56px;
}

.page-company .flat-history:last-of-type {
	margin-bottom: 0;
}

.page-company .flat-history .data-year {
    float: left;
    width: 19.8%;
    margin-right: 29px;
}

.page-company .flat-history .data.data-year .year {
	position: relative;
	font-size: 23px;
	padding-left: 28px;
	font-weight: 600;
	color: #03a9f5;
}


.page-company .flat-history .data.data-year .year.style2, .page-company .flat-history .data.data-year .year.style4 {
	padding-left: 24px;
}

.page-company .flat-history .data.data-year .year.style3 {
	padding-left: 14px;
}

.page-company .flat-history .data.data-year .year:after {
	position: absolute;
	right: 0;
	top: 11px;
	width: 70px;
	height: 1px;
	content: "";
	background-color: #e5e5e5;
}

.page-company .flat-history .data-info {
	overflow: hidden;
	padding-right: 97px;
}

.page-company .flat-history .data-info h4 {
    margin-bottom: 18px;
}

.page-company .flat-history .data-info p {
    margin-bottom: 20px;
}

.page-company .flat-history .data-info p:last-of-type {
	margin-bottom: 0px;
}

.page-company .flat-history ul.portfolio-list {
	margin-top: 28px;
}

.page-company .flat-history ul.portfolio-list li {
    display: inline-block;
    margin-right: 27px;
}

.page-company .flat-history ul.portfolio-list.style2 {
	margin-top: 58px;
}

.page-company .flat-history ul.portfolio-list.style2 li {
	margin-right: 35px;
}

/* Page-partners
-------------------------------------------------------------- */
.flat-partners {
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid #e5e5e5;
}

.page-partners .flat-partners:last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.flat-partners .list-logo {
    float: left;
    margin-right: 30px;
}

.flat-partners .list-info {
	overflow: hidden;
	padding-top: 3px;
}

.flat-partners .list-info h6 {
	text-transform: uppercase;
	margin-bottom: 16px;
}

.flat-partners .list-info p {
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 51px;
	letter-spacing: -0.1px;
}

.flat-partners .list-info .flat-button {
    padding: 13px 34px 13px 19px;
    letter-spacing: 0.1px;
}

.flat-partners .list-info.flat-button::after {
    right: 17px;
    top: 13px;
}

/* Contact
-------------------------------------------------------------- */
.contact-iconbox .iconbox:hover {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.contact-iconbox .iconbox {
    border: 1px solid #e5e5e5;
    padding: 31px 10px 35px 24px;
}

.contact-iconbox .iconbox .box-header .box-icon {
	width: auto;
	height: auto;
	margin-right: 20px;
}

.contact-iconbox .iconbox .box-header .box-icon i {
	color: #03a9f5;
	font-size: 40px;
}

.contact-iconbox .iconbox .box-content .box-title {
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.contact-iconbox .iconbox .box-content .box-title:before {
	content: none;
}

.contact-iconbox .iconbox .box-content p {
	line-height: 25px;
}

.contact-form-maps .title-section {
	margin-bottom: 38px;
}

.contact-form-maps .title-section .title {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 5px;
}

.contact-form-maps .title-section .sub-title {
	font-size: 14px;
	font-weight: 400;
}

.contact-form-maps .wrap-type-input {
	margin: 0 -1.6%;
}

.contact-form-maps .wrap-type-input .input-wrap {
	float: left;
	width: 50%;
	padding: 0 1.6%;
}

.contact-form-maps .input-wrap input {
    width: 100%;
}

.contact-form-maps .flat-contact-form .flat-button {
    padding: 16px 40px 15px 40px;
    -webkit-border-radius: 25px;
            border-radius: 25px;
}

.contact-form-maps .flat-contact-form .flat-button::after {
	content: none;
}

.contact-form-maps .flat-contact-form .textarea-wrap textarea {
	padding: 11px 13px;
}

#maps {
    height: 395px;
}

/* GoTop Button
-------------------------------------------------------------- */
.go-top {
   	position: fixed !important;
   	right: -35px;
	bottom: 15px;   
   	width: 40px;
   	cursor: pointer;   
    background-color: #03a9f5;
   	height: 40px;
   	line-height: 40px;
   	text-align: center;
   	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
    -o-border-radius: 2px;
       border-radius: 2px;   	
   	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
   	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   	filter: alpha(opacity=0);
	opacity: 0;
}

.go-top.show {
	right: 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
	z-index: 99;
}

.go-top i {
	font-size: 18px;
	color: #fff;	
}

.go-top:hover {
    background-color: #222;
    transform: translate3d(0,-3px,0);
    -webkit-transform: translate3d(0,-3px,0);
}

.go-top:hover i {
	color: #fff;
}

/* Main Content
-------------------------------------------------------------- */
#main-content {
    background-color: #fff;
    position: relative;
}

/* Footer
-------------------------------------------------------------- */
#footer {
    background-color: #333335;
    padding: 98px 0 49px;   
}

/* Footer widget
-------------------------------------------------------------- */
.widget.widget-footer {
	float: left;
	width: 25%;
}

.widget.widget-footer.widget_menu {
    padding-left: 1px;
}

.widget.widget-footer.widget_why_us {
	padding-left: 7px;
}

.widget.widget-footer.widget_about {
	padding-left: 13px;
}

.widget.widget-footer.widget_more_info {
	padding-left: 19px;
}

.widget.widget-footer.widget_contact {
	padding-left: 25px;
}

.widget.widget-footer.widget_contact .widget-title {
	margin-bottom: 32px;
}

.widget.widget-footer .widget-title {
    position: relative;
    text-transform: none;
    font-size: 21px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
}
.widget.widget-footer .widget-content {

	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #FFFFFF;

}

.widget.widget-footer ul li {


	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
}

.widget.widget-footer ul li a {
	color: #FFFFFF;
}

.widget.widget-footer ul li a:hover,
.copy-right p a:hover {
	color: #03a9f5;
}

.widget.widget-footer ul.flat-information li {
	position: relative;
	padding-left: 30px;
	line-height: 22px;
	padding-bottom: 16px;
}

.widget.widget-footer ul.flat-information li:nth-child(2) {
	padding-bottom: 13px;
}

.widget.widget-footer ul.flat-information li::before {
	position: absolute;
	left: 0;
	top: -2px;
	content: "\e081";
	font-family:'ElegantIcons';
	color: #FFF;
	font-size: 14px;
}

.widget.widget-footer ul.flat-information li.email::before {
	content: "\e076";
}

.widget.widget-footer ul.flat-information li.phone::before {
	content: "\e090";
}

/* Footer-Contact
-------------------------------------------------------------- */	
footer .logo-footer .logo {
	margin-bottom: 19px;
}

.copy-right p {
    font-size: 13px;
    font-weight: 600;
    color: #99999a;
    letter-spacing: 0.3px;
}

.copy-right p a {
	color: #FFF;
} 

.footer-contact .social-links {
	margin-top: 30px;
}

/* Images hover
-------------------------------------------------------------- */
.flat-images-hover {
	position: relative;
}

.flat-images-hover .flat-hover-overlay {
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f7c20a;
     -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
     opacity: 0;
    filter: alpha(opacity=0);
}

.flat-images-hover:hover .flat-hover-overlay {
    background-color: #f7c20a;
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
}

.flat-images-hover:after, 
.flat-images-hover:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    background: #fff;
    top: 50%;
    left: 50%;
    z-index: 9999;
    margin-top: -15px;
    margin-left: -1px;
    visibility: hidden;
    -webkit-opacity: 0;
     -khtml-opacity: 0;
       -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        filter: alpha(opacity=0);
    webkit-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
       -ms-transition: all 0.2s ease-in-out 0s;
    	-o-transition: all 0.2s ease-in-out 0s;
    	   transition: all 0.2s ease-in-out 0s;
}

.flat-images-hover:before {
    height: 1px;
    width: 30px;
    margin-top: -1px;
    margin-left: -15px;
}

.flat-images-hover:hover:before,
.flat-images-hover:hover:after {
	opacity: 1;
	visibility: visible;
}

/* Parallax
-------------------------------------------------------------- */
.parallax1 { background-image: url(../images/parallax/1.jpg); }
.parallax2 { background-image: url(../images/parallax/2.jpg); }
.parallax3 { background-image: url(../images/parallax/3.jpg); background-size: cover; }
.parallax4 { background-image: url(../images/parallax/4.jpg); }

.overlay-parallax {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.8);
}

.overlay-parallax.style2 {
	background-color: rgba( 0, 0, 0, 0.65);
}

.overlay-parallax.style3 {
	background-color: rgba( 0, 0, 0, 0.4);
}

/* Home Gallery
-------------------------------------------------------------- */
.wrap-gallery {
	overflow: hidden;
    margin: 0px -15px;
}

.wrap-gallery .gallery-item {
    float: left;
    width: 25%;
    padding: 0px 15px;
    margin-bottom: 30px;
}

/* Preload
-------------------------------------------------------------- */
.page-loading .loading-overlay {
    -webkit-opacity: 1;
     -khtml-opacity: 1;
       -moz-opacity: 1;
            opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        filter: alpha(opacity=100);
    display: block;
    visibility: visible;
}

.loading-overlay {
	position: fixed;
    background: #ffffff;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    visibility: hidden;
    display: none;
    -webkit-opacity: 0;
     -khtml-opacity: 0;
       -moz-opacity: 0;
            opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        filter: alpha(opacity=0);
}

.loading-overlay:after {
    position: fixed;
    content: "";
    width: 64px;
    height: 64px;
    left: 50%;
    margin-left: -32px;
    top: 50%;
    margin-top: -32px;
    background: url(../images/icon/preloader.gif);
}

/* Switcher
-------------------------------------------------------------- */
.switcher-container {
   position: fixed;
   right: -220px;
   top: 125px;
   width: 220px;
   background-color: #000;
   z-index: 99999999;
}

.switcher-container h2 {
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0;
    text-transform: uppercase;
	height: 45px;
	line-height: 45px;
	padding-left: 20px;
	padding-right: 30px;
	margin: 0;
}

.switcher-container h2 a {
   background-color: #000;
   display: block;
   position: absolute;
   left: -45px;
   top: 0;
   width: 45px;
   height: 45px;
   line-height: 45px;
   text-align: center;
   outline: 0;
   color: #fff;
   -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.switcher-container h2 a.active {
	right: 0;
}

.switcher-container h2 a.active:after {
	position: absolute;
	right: 21px;
	top: 0;
	content: "\f104";
	font-family: "FontAwesome";
	color: #fff;
	font-size: 22px;
}

.switcher-container h2 a.active i {
	display: none;
}

.switcher-container h2 a:hover,
.switcher-container h2 a:focus {
   text-decoration: none;
}

.switcher-container h2 i {
   	margin-top: 10px;
   	font-size: 25px;
   	color: #999;
    -webkit-animation: fa-spin 2s infinite linear;
            animation: fa-spin 2s infinite linear; 
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.switcher-container h2 i:hover {
	color: #fff;
}

.switcher-container h3 {
   font-size: 12px;
   font-weight: 700;
   color: #fff;
   margin: 0;
   line-height: 22px;
   margin-bottom: 10px;
}

.switcher-container .selector-box {   
   color: #fff;
   overflow: hidden;
}

.switcher-container .layout-switcher {
   margin: 0 0 10px 0;
   overflow: hidden;
}

.switcher-container .layout-switcher a.layout {
   float: left;
   display: block;
   cursor: pointer;
   text-align: center;
   font-weight: 700;
   padding: 10px 20px;
   margin-left: 10px;
}

.switcher-container .layout-switcher a.layout:first-child {
   margin-left: 0;
}

.switcher-container .layout-switcher a.layout:hover {
   color: #fff;
   cursor: pointer;
}

.switcher-container .color-box {
   height: auto;
   overflow: hidden;
   margin-bottom: 6px;
}

.switcher-container .styleswitch {
    margin-bottom: 10px;
}

.sw-odd {
	background-color: #272727;
	padding: 21px 0 30px 20px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.sw-even {
	background-color: #191919;
	padding: 21px 0 25px 20px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.sw-even a {	
	font-family: "Karla", sans-serif;
    text-transform: uppercase;
	font-size: 12px;
	line-height: 40px;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 20px 10px 20px;
	margin-right: 10px;
	letter-spacing: 1.8px;
}

.sw-even a:hover {
	background-color: #32bfc0;
	border: 1px solid #32bfc0;
	color: #fff !important;
}

.sw-light {
	background-color: #fff;
	color: #000 !important;
}

.sw-odd a {	
	font-size: 16px;
	color: #fff;
	width: 100%;
	display: inline-block;
	line-height: 17px;
	width: 100%;
	position: relative;
	padding-left: 47px;
}

.sw-odd .ws-colors a:before {
	background: none;
}

.sw-odd .ws-colors a {
	position: relative;
	width: auto;
	padding: 0;	
	width: 30px;
	height: 30px;
	background-color: #333;	
	display: inline-block;
	margin-right: 5px;	
	overflow: hidden;
}

.sw-odd .ws-colors a.current:before {
	position: absolute;
    left: 8px;
    top: 6px;
	font-family: FontAwesome;
	content: "\f00c";
	color: #fff;
	z-index: 999;
	text-shadow: 0 0 2px rgba( 0, 0, 0, 1 );
}

.sw-odd .ws-colors #color1 {
	background-color: #03a9f5;
}

.sw-odd .ws-colors #color2 {
	background-color: #fe5722;
}

.sw-odd .ws-colors #color3 {
	background-color: #1eaf13;
}

.sw-odd .ws-colors #color4 {
	background-color: #20cabe;
}

.sw-odd .ws-colors #color5 {
	background-color: #b01e23;
}

.sw-odd #color2 {
	background-color: #333;
}

.sw-odd .ws-colors a#color2:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #ff5f2e;
}

.sw-odd #color3 {
	background-color: #333;
}

.sw-odd .ws-colors a#color3:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #30a9de;
}

.sw-odd #color4 {
	background-color: #333;
}

.sw-odd .ws-colors a#color4:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #d9e1e8;
}

.sw-odd #color5 {
	background-color: #333;
}

.sw-odd .ws-colors a#color5:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #090707;
}

.sw-even h3 {
	margin-bottom: 6px;
}

/* Pattern */
.sw-pattern.pattern {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   	filter: alpha(opacity=0);
	   opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	position: absolute;
	left: 0;
	top: 98%;
	background-color: #000000;
	width: 100%;
	z-index: -1;
	padding: 20px 0 30px 20px;
}

.sw-pattern.pattern a {	
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

.sw-pattern.pattern a.current:before {
	position: absolute;
    left: 12px;
    top: 6px;
	font-family: FontAwesome;
	content: "\f00c";
	color: #fff;
	text-shadow: 0 0 2px rgba( 0, 0, 0, 1 );
}

.sw-odd .sw-image {
    padding: 0 20px 15px 0;
}

.sw-odd .sw-image a {
    padding: 0;
    margin-bottom: 5px;
}

.sw-odd .sw-image .sw-buy {
    position: relative;
    width: 100%;
    border: none;
    background: #6f9a37;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 48px 12px 51px;
    border-radius: 0;
}

.sw-odd .sw-image .sw-buy:hover {
    background-color: #2e363a;
}

/* Boxed
-------------------------------------------------------------- */
.boxed {
    position: relative;
}

.home-boxed .boxed {
	z-index: 0;
	width: 92.708%;
	margin: 0 auto;
	background: #fff;
	height: 100%;
	overflow: hidden;
  	-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.02);
  	   -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.02);
  	        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.02);
}

.style-body .wrap-boxed {
	float: right;
	width: 83.2%;
}

/* Site-off-canvas
-------------------------------------------------------------- */
.nav.header-style1.nav2 {
    position: fixed;
    width: 100%;
    z-index: 99;
    background: transparent;
    display: none;
}

#site-off-canvas {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	width: 16.8%;
	background: #ffffff;
	z-index: 999999;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15); 
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

.menu-extra .off-canvas-toggle a::before, .menu-extra .off-canvas-toggle a::after, .menu-extra .off-canvas-toggle a span {
	background-color: #ddd;
}

#site-off-canvas .content {
	height: 950px;
	overflow:auto;
}

#site-off-canvas .wrapper {
	padding: 58px 20px 10px 40px;
}

#site-off-canvas .wrapper .logo {
	margin: 32px 0px 74px 0px;
}

#nav_menu-2 #mainnav2 > ul > li {
    display: block;
}

#nav_menu-2 #mainnav2 > ul > li> a {
    color: #222222;
    padding: 0;
    line-height: 45px;
    font-weight: 600;
    font-size: 15px;
    display: block;
}

#nav_menu-2 #mainnav2 > ul > li > a:hover,
#nav_menu-2 #mainnav2 > ul > li.home > a,
#nav_menu-2 #mainnav2 ul.submenu > li > a:hover {
    color: #03a9f5;
    position: relative;
    cursor: pointer;
}

#nav_menu-2 #mainnav2 ul.submenu  li a {
    font-size: 15px;
    color: #222;
    font-weight: 600;
    text-decoration: none;
    padding: 0 0 0 10px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#nav_menu-2 #mainnav2 .menu-content {
	display: none;
	border-top: 1px solid #ebebeb;
}

#site-off-canvas .wrapper .social-links.style4 {
    float: none;
    width: 100%;
    text-align: left;
    padding-right: 0px;
    margin-right: 0px;
    margin-bottom: 32px;
}

#site-off-canvas .wrapper .social-links.style4 li,
#site-off-canvas .wrapper .social-links.style4 li:nth-child(3) {
	padding: 0px 12px;
}

#site-off-canvas .wrapper .social-links.style4 li:first-child {
	padding-left: 0;
}

#site-off-canvas .wrapper .social-links.style4 li a {
	font-size: 18px;
	color: #222222;
}

#site-off-canvas .wrapper .social-links.style4 li a:hover {
	color: #03a9f5;
}

#site-off-canvas .wrapper .social-links.style4::after {
	content: none;
}

#site-off-canvas .wrapper .copy-right p {
	font-size: 13px;
	line-height: 28px;
	color: #222;
	font-weight: 400;
}

#site-off-canvas .wrapper .copy-right p a {
	color: #03a9f5;
}

#site-off-canvas .wrapper .copy-right p a:hover {
	color: #222;
}

/* Slides
-------------------------------------------------------------- */
.overlay-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.6);
}

.section-client .title-section {
	margin-bottom: 72px;
}


    
	
